In [1]:
name ='vikash chauhan'
age = 88
pi = 3.145

In [4]:
a= 2.33
type(a)

float

In [5]:
a=55256125
type(a)

int

In [6]:
a='VIKASH CHAUHAN'
print(a)
print(type(a))

VIKASH CHAUHAN
<class 'str'>

In [8]:
a=True
b= False
print(a,b)
print(type(a),type(b))

True False
<class 'bool'> <class 'bool'>

In [9]:
x=None
print(a)
print(type(x))

True
<class 'NoneType'>

In [12]:
flowers=['rose','lili','lotus']
print(flowers)
print(type(flowers))

['rose', 'lili', 'lotus']
<class 'list'>

In [15]:
numbers=(1,2,3,6,65,)
print(numbers)
print(type(numbers))

(1, 2, 3, 6, 65)
<class 'tuple'>

In [16]:
even={2,3,5,4,8,}
print(even)
print(type(even))

{2, 3, 4, 5, 8}
<class 'set'>

In [20]:
info={'name' : 'vikash', 'age':25 , 'salary':200000}
print(info)
print(type(info))

{'name': 'vikash', 'age': 25, 'salary': 200000}
<class 'dict'>

In [2]:
a=52
b=5
print(a+b)
print(a**b)
print(a/b)
print(a*b)
print(a//b)
print(a%b)

57
380204032
10.4
260
10
2

In [3]:
a > 60 and b < 5

False

In [2]:
  '''hello'''

'hello'

In [1]:
a=10

In [2]:
print(a)

10

In [3]:
apple='red'
print(apple)

red

In [5]:
color_name='red'
print(color_name)

red

In [3]:
x = 120
y = 120
z = 12

In [7]:
x == y

True

In [5]:
x == z

False

In [8]:
a = [1,2,3] #list
b = a # b is now referring to the same address and values
z = [1,2,3] #another list at different memory location

In [10]:
print(a is b) # true-> a and b point to  same mem address
print(a is z) # false -> a and z are diff mem address
print(b is z)

True
False
False

In [13]:
colors = ['red','blue','green', 'black']
print('blue' in colors)
print('red' in colors)
print('white' in colors)
print('white' not in colors)

True
True
False
True