In [ ]:
1.Simple function without argumengt and return value

In [1]:
# defining tghe function
def hi():
    print("hi hw r u?")

In [2]:
# calling the function
hi()

hi hw r u?

In [3]:
for i in range(3):
    hi()

hi hw r u?
hi hw r u?
hi hw r u?

2.function that return a value

In [4]:
def grn():
    from random import randint
    return randint(1,100)

In [5]:
grn()

54

In [6]:
grn()

15

In [7]:
ans = grn()
print(ans)

38

In [8]:
ans = grn() + grn() - grn()
print(ans)

157

In [9]:
"hello".upper().replace('H','g')

'gELLO'

3.function with argumnents/parameters

In [10]:
def si(p,r,t):
    print("Simple intrest =>",(p*r*t)/100)

In [11]:
si(5000, 5.25, 5)

Simple intrest => 1312.5

4.function with argument and return value

In [14]:
def area_of_circle(circumference):
    '''this function calculate the 
    area of circle from circumference'''
    r = circumference/(2*3.14)
    return 3.14*r**2

In [15]:
area_of_circle(5)

1.9904458598726111

In [16]:
area_of_circle(52)+area_of_circle(5)

217.27707006369423

functioins parameters
1.position arguments
2.required arguments
3.defult arguments
4.variable length argument *args
5.keyword arguments **kwargs

In [17]:
def add(a,b,c,d):
    return a+b+c+d

In [18]:
add(5,3,5,8) # postional arguments

21

In [19]:
print(add(a=2, b=5, c=5, d= 8))
print(add(a=3, b=8, c=3, d= 8))
print(add(a=2, b=1, c=5, d= 9))

20
22
17

In [20]:
def add(a, b, c, d=0):
    return a+b+c+d

In [21]:
print(add(1,2,3,5))
print(add(1,2,3))  #defult function

11
6

In [22]:
def si_2(p= 10000, r= 1.1, t=10 ):
    return (p*r*t)/100

In [23]:
si_2()

1100.0

In [24]:
si_2(r=2.5, t=3)

750.0

In [25]:
print(si_2())   #type of condition use in this method
print(si_2(p=10000))
print(si_2(p=10000, r=3))
print(si_2(p=10000, r=3 , t=5))
print(si_2( t=5))
print(si_2(p=10000, t=5))
print(si_2(10000,5, 5))

1100.0
1100.0
3000.0
1500.0
550.0
550.0
2500.0

variable arguments

In [26]:
def multiply (*num):
    ans = 1
    for i in num:
        ans *=i
    return ans

In [27]:
multiply(1,2,3,6,5,4)

720

keyword arguments**kwargs

In [1]:
def handle_data(**data):
    for k, v in data.items():
        if isinstance(v, (int,float)):
            print(f"{k} => {v}")
        else:
            print('invalid entry')

In [4]:
1,2

(1, 2)

LAMBDA EXPRESSIONS
f(x) = x^2 + 2x+1

In [5]:
def eql(x):
    return x**2 + 2*x + 1

In [6]:
eql(3)

16

var = lambda argument: expression

In [7]:
f = lambda i : i**2 + 2*i + 1

In [8]:
print(f(4))
print(f(41))
print(f(24))

25
1764
625

In [10]:
g = lambda x,y: x**2 +2*x + y

In [12]:
print(g(4,5))
print(g(13,5))

29
200

In [14]:
data =[ 34,2,5,4,6,45,666,5,55]
list(map(lambda x: x**2 ,data))

[1156, 4, 25, 16, 36, 2025, 443556, 25, 3025]

In [1]:
names = ['Raj','Rahul','Ravi','Ramesh','Rajesh']
list(map(lambda n:n.upper(), names))

['RAJ', 'RAHUL', 'RAVI', 'RAMESH', 'RAJESH']

In [2]:
x = [1,2,3,4,5,6]
y = [2,3,4,5,6,7]
z = list(map(lambda i, j: i*j,x,y))
z

[2, 6, 12, 20, 30, 42]

In [3]:
x = [45,55,66,2,3,4,5,7,8,54,56, 5,65,65]
even_x = list(filter(lambda i: i% 2==0,x))
print(even_x)

[66, 2, 4, 8, 54, 56]

In [18]:
x =[4,2,3,6,5,4,4,7,8,9,5,32,2,32,5]
numb_x = list(filter(lambda i : i >3,x))
print(numb_x)

[4, 6, 5, 4, 4, 7, 8, 9, 5, 32, 32, 5]

In [21]:
# single  input with multiple values used in competitive exam
data = list (map (int, input().split()))

In [23]:
print("ab\tcd\tef".expandtabs())

ab      cd      ef

In [25]:
x=[1,2,3,6,5,47,98]
x.pop(2)

3

In [26]:
a = {1:"a",2:"b",3:"c"}
for i,j in a.items():
    print(i,j,end="")

1 a2 b3 c

In [28]:
a= [13,15,14]
a.append([87])
a.extend([45,67])
print(a)

[13, 15, 14, [87], 45, 67]

In [29]:
s = 'digipodium'
slice=s[4:len(s)]
print(slice)

podium

In [30]:
print('{0:.2}'.format(1/3))

0.33

In [31]:
a=(2,3,1,5)
a.sort()
a

AttributeError: 'tuple' object has no attribute 'sort'

In [34]:
a={5,6,7,8}
b={7,8,9,10}
len(a,b)

TypeError: len() takes exactly one argument (2 given)

In [39]:
total={}
def insert(items):
    if items in total:
        total[items] += 1
    else:
        total[items] = 1
insert('Apple')
insert('Ball')
insert('Apple')
print(len(total))

2

In [40]:
d = {'jhon':40 , 'peter':45}
print(list(d.keys()))

['jhon', 'peter']

In [41]:
print('Hello {0} and {1}'.format('foo' , 'bin'))

Hello foo and bin

In [42]:
a =(1,2,(4,5))
b = (1,2,(3,5))
a<b

False

In [43]:
a ={i: i*i for i in range(6)}
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [45]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

In [47]:
l=[1,2,3,6,5,4,8]
[x**3 for x in l]

[1, 8, 27, 216, 125, 64, 512]

In [48]:
a =(1,2,3)
b=('A','B','C')
c = tuple(zip(a,b))