In [1]:
x = ['Ravi Prakash',100,22,226022,'lucknow','Regional manager',True,False]

In [2]:
data = {'name':'Ravi prakash','eid':100,'age':22,'pincode':226022,'city':'lucknow','desig':'Regional manger','is_married':True,'have_children': True}

In [3]:
print(data)

{'name': 'Ravi prakash', 'eid': 100, 'age': 22, 'pincode': 226022, 'city': 'lucknow', 'desig': 'Regional manger', 'is_married': True, 'have_children': True}

In [4]:
data['desig']

'Regional manger'

In [5]:
data['age']=23

In [6]:
data['name']

'Ravi prakash'

In [7]:
data['city']

'lucknow'

In [8]:
data

{'name': 'Ravi prakash',
 'eid': 100,
 'age': 23,
 'pincode': 226022,
 'city': 'lucknow',
 'desig': 'Regional manger',
 'is_married': True,
 'have_children': True}

In [9]:
data['name'] = 'vikash chauhan'
data['eid']
data['pincode']= 226014 #update
data['desig']='data analyst'

In [10]:
data

{'name': 'vikash chauhan',
 'eid': 100,
 'age': 23,
 'pincode': 226014,
 'city': 'lucknow',
 'desig': 'data analyst',
 'is_married': True,
 'have_children': True}

In [11]:
data['dept']='sale'  #adding data

In [13]:
data

{'name': 'vikash chauhan',
 'eid': 100,
 'age': 23,
 'pincode': 226014,
 'city': 'lucknow',
 'desig': 'data analyst',
 'is_married': True,
 'have_children': True,
 'dept': 'sale'}

In [14]:
data.pop('is_married')  #remove

True

In [15]:
# basic loop 
for i in data:
    print(i)

name
eid
age
pincode
city
desig
have_children
dept

In [16]:
# actual loop
for k,v in data.items():
    print(k,v)

name vikash chauhan
eid 100
age 23
pincode 226014
city lucknow
desig data analyst
have_children True
dept sale

In [17]:
# this also wprks
for i in data:
    print(i,data[i])

name vikash chauhan
eid 100
age 23
pincode 226014
city lucknow
desig data analyst
have_children True
dept sale

In [19]:
#odd indexes from lists
x =[1,2,3,6,5,4,7,8,9]
x_odd =x[1::2]
print(x)
print(x_odd)

[1, 2, 3, 6, 5, 4, 7, 8, 9]
[2, 6, 4, 8]

In [21]:
x =[1,2,3,6,5,4,7,8,9]
x_odd =[]
for i,v in enumerate(x):
    if i%2 !=0:
        x_odd.append(v)
print(x_odd)

[2, 6, 4, 8]

In [22]:
user_data = {}  # empty
for i in range(5):
    key = input("enter name?")
    value = input('Enter value?')
    user_data[key]=value

print(user_data)

{'vikash': '95', 'viakd': '6554', 'sakdj': '6545sadf', 'adsd': '55sad', 'adas': 'sasadsa'}

In [4]:
# store student marks in a dict
report ={
    'Raja':{
        'eng':[50,80],
        'maths':[75,80],
        'hindi':[45,80],
    },
    'Rani':{
        'eng':[49,54],
        'maths':[55,68],
        'hindi':[58,80],
    }    


}

In [26]:
report['Raja']['Comp']=[50,66] # add data
print(report)

{'Raja': {'eng': [50, 80], 'maths': [75, 80], 'hindi': [45, 80], 'Comp': [50, 66]}, 'Rani': {'eng': [49, 54], 'maths': [55, 68], 'hindi': [58, 80]}}

In [6]:
report['Rani']['hindi'][1]

80

In [30]:
for name,marks in report.items():
    print(name)
    for siubject, val in marks.items():
        print(f'=>{siubject} ={value}')

Raja
=>eng =sasadsa
=>maths =sasadsa
=>hindi =sasadsa
=>Comp =sasadsa
Rani
=>eng =sasadsa
=>maths =sasadsa
=>hindi =sasadsa

In [5]:
for name,marks in report.items():
    print(name, marks)

Raja {'eng': [50, 80], 'maths': [75, 80], 'hindi': [45, 80]}
Rani {'eng': [49, 54], 'maths': [55, 68], 'hindi': [58, 80]}

In [1]:
# wap to creat dictionary, which will have some names and phone numbers. The user can search for name throughh input.if the name is in dictionary, then display the phone number else, ask the user to add number of person by him/her self.contact={police 112, hospital 109}

contact = {'police': 112 , 'hospitral': 109, 'firehouse': 101}

for value in contact.items():
    key = input('Enter name')
    if name in value:
        print('name')

NameError: name 'name' is not defined